@using jcMSA.Client.MVC.Helpers
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                @Html.ActionLink("Jarred Capellman", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="~/my-computers">my computers</a></li>
                    <li><a href="http://www.jcbench.com" target="_blank">jcBENCH</a></li>
                    <li><a href="~/white-papers">white papers</a></li>
                    <li><a href="~/About-Me">about me</a></li>
                    <li><span style="line-height: 50px; margin-left: 10px;"><a href="http://twitter.com/jcapellman"><img src="/Content/twitter.png" width="32" height="32" /></a></span></li>
                    <li><span style="line-height: 50px; margin-left: 10px;"><a href="http://linkedin.com/in/jarredcapellman"><img src="/Content/linkedin.png" width="32" height="32" /></a></span></li>
                    <li><span style="line-height: 50px; margin-left: 10px;"><a href="http://www.github.com/jcapellman"><img src="/Content/github.png" width="32" height="32" /></a></span></li>
                    <li><span style="line-height: 50px; margin-left: 10px;"><a href="https://www.nuget.org/profiles/jcapellman"><img src="/Content/nuget.png" width="32" height="32" /></a></span></li>
                    <li><span style="line-height: 50px; margin-left: 10px;"><a href="http://www.jarredcapellman.com/feed"><img src="/Content/RSS.png" width="32" height="32" /></a></span></li>
                </ul>

                @*@Html.Partial("SearchView", new bbxp5.mvc.Models.SearchModel())*@
            </div>
        </div>
    </div>

    <div class="container body-content">
        <div>
            <div class="LeftBar">
                @RenderBody()
            </div>

            @*<div class="SideBar">
                <div class="block">
                    <h3 style="margin-left: 5px">Programming Blogs</h3>

                    <div style="padding: 0 5px 5px 5px;">
                        @foreach (var linkItem in @Model.Base.LinkItems) {
                            <div class="ArchiveItem" style="font-size: 10px;">
                                <a href="@linkItem.URL" target="_blank">@linkItem.Description</a>
                            </div>
                        }
                    </div>
                </div>

                <div class="block">
                    <h3 style="margin-left: 5px">Archive</h3>

                    <div style="padding: 0 5px 5px 5px;">
                        @foreach (var item in @Model.Base.ArchiveItems) {
                            var baseURL = @RazorHelper.URL + @item.Year + "/" + @item.Month + "/";

                            <div class="ArchiveItem">
                                <a href="@baseURL">@item.Month @item.Year (@item.PostCount)</a>
                            </div>
                        }
                    </div>
                </div>

                <div class="TagsBar">
                    <h3 style="margin-left: 5px">Tags</h3>
                    <div class="Tags" style="padding: 0 5px 5px 5px;">
                        @foreach (var tag in @Model.Base.TagCloudItems) {
                            var url = @RazorHelper.URL + "tag/" + @tag.URLSafeName + "/";

                            <a href="@url" class="@tag.CSSClassName">@tag.Name</a>
                        }
                    </div>
                </div>
            </div>*@

            <div style="clear:both;"></div>
            <footer>
                <p>&copy; 1995-@DateTime.Now.Year Jarred Capellman. Disclaimer: The opinions expressed herein are my own personal opinions and do not represent my employer’s view in any way.</p>
            </footer>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
