@using jcMSA.Client.MVC.Helpers
@model jcMSA.Posts.PCL.Transports.PostListingResponseItem

<div class="post">
    <div class="Content">
        <div class="Title">
            <h2><a href="@Model.URL">@Model.Title</a></h2>
        </div>

        <div class="SubBar">
            <h4>@Model.PostDate.ToLongDateString()</h4>

            <h4 class="seperator">|</h4>

            @{
                object commentLink = @SiteConfig.SITE_URL + @Model.PostDate.Year + "/" + @Model.PostDate.Month + "/" + @Model.PostDate.Day + "/" + @Model.URL + "#disqus_thread";
                <h4><a href="@commentLink" data-disqus-identifier="@Model.ID">Comments</a></h4>
            }

            <h4 class="seperator">|</h4>

            <h4>By Jarred Capellman</h4>
        </div>

        <div class="Body">@(new MvcHtmlString(@Model.Summary))</div>
    </div>
</div>